
html,body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

body{
    background-size:100% 100%;
    position:absolute;
    background:#ffffff; filter:alpha(opacity:30); opacity:0.8;
    /* 页面渐变色 */
	/* background: -webkit-linear-gradient(bottom, #fba555, #ffed6c 75%);
	background: -moz-linear-gradient(bottom, #fba555, #ffed6c 75%);
	background: -ms-linear-gradient(bottom, #fba555, #33CCFF 75%);
	background: -o-linear-gradient(bottom, #fba555, #ffed6c 75%);
	background: linear-gradient(to top, #fba555, #33CCFF 75%); */
}

.header-bg{
    text-align: center;
    width:100%;
    overflow:hidden;
}

.center-logo{
    margin-left:-700px;
    margin-top:-240px;
}

.foot {
	text-align: center;
    width:100%;
    background:#d0d0d0;
}

